header#first {
  height: 520px;
  width: 100%;
  background-color: #a4acc5;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
}

header#first div {
  text-align: center;
}

header#first div img {
  position: relative;
  top: 140px;
}

header#first div.user {
  position: relative;
  bottom: -100px
}