html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #585858;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  display: flex;
  flex-flow: row wrap
}

main.container {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f4f1ec;
}

#scroll-to-top {
  width: 50px;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: none;
}

#scroll-to-top:hover {
  cursor: pointer;
  transform: scale(1.1);
}
