nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1.5em;
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#logo {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
  position: relative;
  top: 10px; 
}

nav div {
  display: flex;
  flex-direction: column;
}

nav div span {
  text-align: center;
  color: #FFF;
  transition: all .2s ease-in-out; 
}

nav button {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
}

nav div span:hover {
  cursor: pointer;
  transform: scale(1.2);
}