section.new-tweet form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

section.new-tweet textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #585858;
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  resize: none;
  outline: none;
}

section.new-tweet input {
  display: block;
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
}

section.new-tweet span {
  font-family: 'Bungee', cursive;
  color: #585858;
}