section.new-tweet #post-tweet {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2em;
}

section.new-tweet textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #585858;
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  resize: none;
  outline: none;
}

section.new-tweet input {
  display: block;
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
}

section.new-tweet span {
  font-family: 'Bungee', cursive;
  color: #585858;
}

section.new-tweet div.error {
  font-weight: 600;
  text-align: center;
  color: red;
  border: 3px solid red;
  margin:0.6em 0em;
  padding: 0.5em;
  display: none;
}